
.login-form {
    width: 300px;
    margin: auto;

}

.results-button {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.results-button:hover {
    background-color: #0056b3;
}
