/* .small{
    height: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
  } */
  .quiz-app-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.timer-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-container img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.question-container {
    margin-bottom: 20px;
   
}
.answer-container{
    text-align:left;
}