<div class="comment-list">
    <h2>Todos</h2>
    <button (click)="createTask()">Create Todo</button>
    <table>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.todo}}</td>
                <button *ngIf="todo.completed"><img src="../../assets/complete.png" (click)="changeTodoStatus(todo)"></button>
                <button *ngIf="!todo.completed"><img src="../../assets/unfinished.png" (click)="changeTodoStatus(todo)"></button>
                <button (click)="editTask(todo)"><img src="../../assets/edit.png"></button>
                <button (click)="deleteTodo(todo)"><img src="../../assets/delete.png"></button>
            </tr>
        </tbody>
    </table>
