.row{
    display: flex;
    gap:10px;
    // flex-wrap: nowrap;
}

.content{
    padding-top: 10px ;
}
.datepicker{
    position: absolute;
    top:0;
    right: 0;
}
.pad{
    padding-right: 20px;
}
.padd{
    padding-top: 20px;
    padding-bottom: 20px;
}
.action{
    padding-bottom:  20px;
    button{
        flex:1
    }
}